<!-- profiles/templates/profiles/profile.html -->
{% extends 'grab/layout/main.html' %}
{% block title %}
<title>Grabinfo | My Profile</title>
{% endblock title %}
{% block content %}
{% include 'grab/inc/navbar.html' %}
<br><br><br><br>
<div class="profile">
    <div class="profile-top">
        <div class="profile-card">
            <img src="{{ request.user.profile.image.url }}" alt="Profile Image">
        </div>
        <div class="profile-card">
            <h4>{{ request.user.username }}</h4>
            <p>{{ request.user.profile.bio }}</p>
        </div>
    </div>
    <div class="profile-actions">
        <a href="{% url 'profile_edit' %}" style="text-align: center;">Edit Profile</a>
        <a href="{% url 'post_create' %}" style="text-align: center;">Create New Post</a>
        <a href="{% url 'logout' %}" style="text-align: center;">Logout</a>
    </div>
</div>
<p style="text-align: center;margin: 5%; color: black;font-weight: bold;font-size: 20px; ">Your Post</p>
{% if profiledetail %}
    {% for post in profiledetail %}
        <div class="post">
            <div class="card-post">
                <img src="{{ post.profile.image.url }}" alt="{{ post.profile.user.username }}'s profile picture" class="card-top profile-img">
                <div class="card-top post-info">
                    <p class="username">{{ post.profile.user.username }}</p>
                    <p class="date">{{ post.updated_at }}</p>
                </div>
                <button class="card-top follow-btn"><a href="{% url 'delete' post.id %}" style="text-decoration: none;color: #fff;"><ion-icon name="trash"></ion-icon></a></button>
            </div>
            <p class="topic">Topic: {{ post.topic.topic_name }}</p>
            <p class="content">{{ post.content }}</p>
            <img src="{{ post.post_image.url }}" alt="Post Image" class="post-img">
        </div>
    {% endfor %}
{% else %}
    <p style="text-align: center; font-size: 50px;"><ion-icon name="add-circle-outline"></ion-icon></p>
    <p style="text-align: center;">Add your post</p>
{% endif %}


{% endblock %}
