body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-left, .navbar-right, .navbar-center {
    display: flex;
    align-items: center;
}

.navbar-left {
    flex: 1;
    justify-content: flex-start;
    margin-left: 10%;
}

.navbar-center {
    flex: 1;
    justify-content: center;
    margin-left: 8%;
}

.navbar-right {
    flex: 1;
    justify-content: flex-end;
    margin-right: 10%;
}

.logo img {
    max-height: 50px;
    max-width: 100%;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.join-us {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.join-us:hover {
    background-color: #000;
}

.nav-icon {
    font-size: 24px;
    color: #000;
    margin: 0 30px;
    display: flex;
    align-items: center;
}

.nav-icon ion-icon {
    cursor: pointer;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .navbar-center {
        flex: 2;
        justify-content: center;
        margin-left: 3px;
        
    }

    .nav-icon {
        font-size: 18px;
        margin: 0 10px;
    }

    .navbar-left, .navbar-right {
        flex: 1;
        margin: 0;
    }

    
    .join-us{
        font-size: 12px;
    }
    .logo img {
        height: auto;  /* Maintain aspect ratio */
        max-height: 60px;  /* Adjust to desired height */
        width: auto;  /* Maintain aspect ratio */
        max-width: 105px;  /* Adjust to desired width */
    }
}
