.searchform{
    width: 100%;
    margin:2% 0;
}
.form {
    width:80% ;
    margin: 0 8%;
    
}
.form input{
    width: 70%;
    margin-left: 15%;
    margin-right: 0;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid black;
}
.form button{
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
}
.form input:focus{
    outline: 0;
}
.searchprofile{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 60%;
    margin: 5% 20% ;
    grid-gap: 50px;
}
.result{
   display: grid;
   align-items: center;
}
.result img{
    width: 120px;
    height: 120px;
    margin: 0 12%;
    border-radius: 50%;
    text-align: center;
}
.result p{
    text-align: center;
    margin-top: 5%;
}
.result button{
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 10px;
    padding: 2% 0;
}

@media screen and (max-width:600px) {
    .searchprofile{
        display: grid;
        grid-template-columns: auto auto;
        width: 90%;
        margin: 5% 5% ;
        grid-gap: 20px;
    }
    .form {
        width:100% ;
        margin: 0 ;
        
    }
    .form input{
        width: 74%;
        margin-left: 5%;
        margin-right: 0;
        padding: 10px 20px;
        border-radius: 15px;
        border: 1px solid black;
    }

}
@media screen and (min-width:601px) and (max-width:1000px){
    .form {
        width:80% ;
        margin: 0 7%;
        
    }
    .searchprofile{
        display: grid;
        grid-template-columns: auto auto auto ;
        width: 60%;
        margin: 5% 20% 0;
        grid-gap: 50px;
    }
}
